<header>
  <div class="header-content">
    <div class="header-content-inner">
      <h1 id="homeHeading">Proyecto de Investigación CoCo</h1>
      <hr>
      <p>Proyecto del grupo TICSw enfocado en el modelamiento de variabilidad y configuración semiautomática de líneas de producto.</p>
      <a href="#about" class="btn btn-primary btn-xl page-scroll">Conoce más</a>
    </div>
  </div>
</header>

<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">¿Qué es CoCo?</h2>
        <hr class="light">
        <p class="text-faded"><strong>CoCo</strong> es un proyecto del grupo <strong>TICSw</strong> del Departamento de Ingeniería de Sistemas y
          Computación de la Universidad de los Andes. Nace en <strong>2014</strong> como propuesta de tesis de pregrado. Este
          busca hacer distintas contribuciones a las áreas de <strong>modelamiento de variabilidad y configuración</strong> de
          soluciones en <strong>líneas de producto</strong>, especialmente cuando se manejan dominios de alta variabilidad y
          altos volúmenes de datos. A la fecha se han considerado distintos dominios de experimentación como
          <strong>Cloud Computing</strong>, <strong>Sistemas Empresariales</strong> y <strong>Diagnóstico de Enfermedades Neurológicas</strong>. El uso de solvers y
          algoritmos particulares como <strong>CSP (Constraint Satisfaction Problem)</strong>, asi como de metodologías como <strong>MDE (Model-Driven Engineering)</strong>
          han sido esenciales durante la obtención de resultados.</p>
      </div>
    </div>
  </div>
</section>

<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Áreas de Trabajo</h2>
        <hr class="primary">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-sitemap text-primary sr-icons"></i>
          <h3>Líneas de Producto</h3>
          <p class="text-muted">Definición y análisis de líneas de producto (de software)?.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-object-group text-primary sr-icons"></i>
          <h3>Modelamiento</h3>
          <p class="text-muted">Construcción de metamodelos M2, modelos M1 y modelos de características.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-random text-primary sr-icons"></i>
          <h3>Automatización & Simulación</h3>
          <p class="text-muted">Automatización y simulación de procesos asociados a las líneas de productos.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-gear text-primary sr-icons"></i>
          <h3>Algoritmos & Solvers</h3>
          <p class="text-muted">Empleo de algoritmos y solvers como Constraint Programming.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-database text-primary sr-icons"></i>
          <h3>Analítica de Datos</h3>
          <p class="text-muted">Procesamiento de grandes volúmenes de datos para la construcción de los modelos.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-code text-primary sr-icons"></i>
          <h3>Desarrollo Web</h3>
          <p class="text-muted">Desarrollo de herramienta web que integre los avances de investigación.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="no-padding" id="domains">
  <div class="container-fluid">
    <div class="row no-gutter popup-gallery">
      <div class="col-lg-4 col-sm-6">
        <div class="portfolio-box">
          <img src="../assets/img/domains/thumbnails/1.png" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Dominio
              </div>
              <div class="project-name">
                Cloud Computing
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="portfolio-box">
          <img src="../assets/img/domains/thumbnails/2.png" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Dominio
              </div>
              <div class="project-name">
                Sistemas Empresariales
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="portfolio-box">
          <img src="../assets/img/domains/thumbnails/3.png" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Dominio
              </div>
              <div class="project-name">
                Diagnóstico Enfermedades Neurológicas
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="publications">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Publicaciones</h2>
        <hr class="primary">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-muted">
        <ul>
          <li>Lina Ochoa, Oscar González-Rojas, Mauricio Verano & Harold Castro. Searching for Optimal Configurations within Large-scale Models: A Cloud Computing Domain.
            <i>En 5th International Workshop on Modeling and Management of Big Data (MoBiD).</i> Noviembre, 2016. Aceptado.</li>
          <br>
          <li>Lina Ochoa & Oscar González-Rojas. Program Synthesis for Configuring Collaborative Solutions in Feature Models. <i>En 11th International Workshop on Enterprise
            Integration, Interoperability and Networking (EI2N).</i> Octubre, 2016. Aceptado.</li>
          <br>
          <li>Lina Ochoa, Oscar González-Rojas & Thomas Thüm. <a href="http://dl.acm.org/citation.cfm?id=2814263">Using decision rules for solving conflicts in extended feature models.</a>
            <i>En ACM SIGPLAN International Conference on Software Language Engineering (SPL).</i> ACM, Octubre 2015.</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<aside class="bg-dark">
  <div class="container text-center">
    <div class="call-to-action">
      <h2>Conoce nuestro espacio en Github</h2>
      <a href="https://github.com/CoCoResearch" class="btn btn-default btn-xl sr-button">CoCo Research Code</a>
    </div>
  </div>
</aside>

<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Contáctanos</h2>
        <hr class="primary">
        <p>¿Quieres ser parte del equipo o tienes alguna duda o comentario? ¡Escríbenos!</p>
      </div>
      <div class="col-lg-4 col-lg-offset-2 text-center">
        <i class="fa fa-envelope-o fa-3x sr-contact"></i>
        <h3>Director del proyecto</h3>
        <p>PhD. Oscar Fernando González Rojas</p>
        <p><a href="mailto:o-gonza1@uniandes.edu.co">o-gonza1@uniandes.edu.co</a></p>
      </div>
      <div class="col-lg-4 text-center">
        <i class="fa fa-envelope-o fa-3x sr-contact"></i>
        <h3>Asistente graduada</h3>
        <p>Lina María Ochoa Venegas</p>
        <p><a href="mailto:lm.ochoa750@uniandes.edu.co">lm.ochoa750@uniandes.edu.co</a></p>
      </div>
    </div>
  </div>
</section>
