<section id="configurator">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Configure {{featureModel.name}}</h2>
                <hr class="primary">
                <br>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <div class="text-center">
                    <h3><i class="fa fa-sitemap" aria-hidden="true"></i> Feature model</h3>
                    <br>
                </div>
                <div class="coco-feature-model-info">
                    <p><b>Name:</b> {{featureModel.name}}</p>
                    <p><b>Owner:</b> {{featureModel.owner}} </p>
                    <p><b>Owner's email:</b> {{featureModel.ownerEmail}} </p>
                    <p><b>Description:</b> {{featureModel.description}} </p>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="text-center">
                    <h3><i class="fa fa-gear" aria-hidden="true"></i> Configuration</h3>
                    <br>
                </div>
            </div>
        </div>
    </div>
</section>